<?xml version='1.0' encoding='utf-8'?>
<widget id="com.friends.owe" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OWE</name>
    <description>
        How much do you friend OWE your or OWE them ?
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Puneeth Rai
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
