@import '../base/base';
#Friends {
	.jumbotron {
		top:50px;
		position:fixed;
		background-color:rgb(255,255,255);
		z-index:1;
		left: 0;
		padding-top: 0;
		padding-left: 60px; 
	}
	.friendList {
		padding-top:120px;
        @include overflow-with-ios();
	}
}