#Friends {
	.jumbotron {
		top:50px;
		position:fixed;
		background-color:rgb(255,255,255);
		z-index:1;
		left: 0;
		padding-top: 0;
		padding-left: 30px; 
	}
	.friendList {
		padding-top:120px;
        @include overflow-with-ios();
	}
    @media (max-width: $screen-xs-max) {
        > .jumbotron {
			padding-left: 30px;  
        }
    }
    @media (min-width: $screen-sm-max) {
    	> .jumbotron {
			padding-left: 60px;  
        }
    }
}