#Transaction {
    .bootstrap-select {
        padding: 0;
    }
    > .container {
        padding: 0 15px 0 0;
    }
    > .container:first-child {
        top: 50px;
        position: fixed;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
    > .container:last-child {
        padding-top: 150px;
        @include overflow-with-ios();
    }
    @media (max-width: $screen-xs-max) {
        > .container:last-child {
            padding-right:0; 
        }
    }
}