<div class="container">
    <p> You OWE them <span class="dummyYCount"><span></p>
    <p> They OWE you <span class="dummyTCount"><span></p>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="tel" class="form-control dummyAmount" placeholder="amount" required="" style="height:42px">
                <span class="input-group-btn">
                    <button class="btn btn-default dummyDebt" type="button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span style="display: block;font-size: 6px">Debt</span>
                    </button>
                    <button class="btn btn-default dummyCredit" type="button">
                        <i class="glyphicon glyphicon-minus"></i>
                        <span style="display: block;font-size: 6px">Credit</span>
                    </button>

                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-xs-12 -->
        <div class="col-xs-12">
            <select class="col-xs-12 dummyFriends show-tick" data-live-search="true" data-dropup-auto="false"></select>
        </div>
    </div><!-- /.row -->
</div>
<div class="dummyTransaction container"></div>